.price {
  padding: 80px 0;

  &__inner {}

  &__title {
    font-size: 32px;
    line-height: 32px;
    width: max(300px, 60%);
    margin-bottom: 20px;

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  &__item {
    background: var(--item);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-size: 18px;
      font-weight: 700;
      // margin-bottom: 20px;
    }
  }

  &__item-subtitle {}


  &__lists {
    counter-reset: num;

    li {
      margin-bottom: 10px;
      font-size: 14px;
    }

  }

  &__lists-title {
    position: relative;
    padding-left: 20px;



    &::after {
      counter-increment: num;
      content: counter(num);
      position: absolute;
      color: var(--red);
      font-size: 16px;
      left: 5px;
      top: -1px;

    }
  }

  &__lists-text {}

  &__item-text {}
}

.price .slick-arrow {
  position: absolute;
  // top: 50%;
  bottom: -60px;
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 40px;
  // background-color: var(--red);
}

.price .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/icons/left-arrow.svg") 0 0 / 100% no-repeat;
}

.price .slick-arrow.slick-next {
  right: 0;
  transform: rotate(180deg);
  background: url("../images/icons/left-arrow.svg") 0 0 / 100% no-repeat;
}

.price .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.price .slick-list {
  margin: 0 -15px;
}

.price .slick-slide {
  margin: 0 15px;
}



.price__item img {
  max-width: 100%;
}


@media (max-width: 750px) {
  .price__items {

    grid-template-columns: 1fr;
    gap: 20px;
  }

}